html,
body,
#__next {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* All */
.TB {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url('/static/images/back-image.jpg');
  background-size: 100% 100%;
}

/* Header CSS */
.TB_header {
  text-align: center;
}

.TB_Header_Logo {
  height: 110%;
}

.TB_Menu_icon {
  height: 100%;
  margin-left: 85%;
}

/* SideMenu CSS */
.TB_sideMenu {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #2e8ef4;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.TB_sideMenu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.TB_sideMenu a:hover {
  color: #f1f1f1;
}

.TB_sideMenu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* Main CSS */
.TB_main {
  height: 100%;
  width: 100%;
  text-align: center;
}

.TB_main_sideMenu {
  color: #818181;
  margin-top: 3%;
}

.TB_main_sideMenu img {
  height: 2%;
  width: 4%;
}

.TB_main_logo {
  margin-top: 2%;
}
.TB_main_logo_img {
  height: 4%;
  width: 8%;
}

.TB_main_content {
  margin-top: 2%;
  width: 100%;
  height: 60%;
}

.TB_main_content_box {
  margin-left: 30%;
  background-color: #818181;
  width: 20%;
  height: 65%;
  position: absolute;
  background: rgba(98, 105, 99, 0.527);
}

.TB_main_content_box_right {
  position: absolute;
  left: 50.5%;
  height: 100%;
  width: 100%;
}

.TB_main_content_box2 {
  background-color: #818181;
  width: 20%;
  height: 31.7%;
  background: rgba(98, 105, 99, 0.527);
}

.TB_main_content_box3 {
  margin-top: 0.5%;
  background-color: #818181;
  width: 20%;
  height: 31.7%;
  background: rgba(98, 105, 99, 0.527);
}

/* Main Devaloper Board CSS */
.TB_main_board {
  height: 100%;
  width: 100%;
}

.TB_main_board_header {
  margin-top: 6%;
  display: flex;
  justify-content: space-between;
  color: #b4acac;
  font-size: 15px;
  text-shadow: 0 0 0.1em, 0 0 0.1em;
}

.TB_main_board_title {
  margin-left: 3%;
}

.TB_main_board_more {
  margin-right: 3%;
  cursor: pointer;
}

.TB_main_board_more:hover {
  text-shadow: 0 0 0.3em, 0 0 0.9em;
}

.TB_main_board_content {
  margin-top: 18%;
}

.TB_main_board_content_item {
  margin-top: 6%;
  display: flex;
  justify-content: space-around;
  color: #b4acac;
  font-size: 12px;
  text-shadow: 0 0 0.1em, 0 0 0.1em;
}

.TB_main_board_content_item_font {
  width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TB_main_board_content_dat {
  margin-top: 4%;
  color: #b4acac;
  font-size: 12px;
  text-shadow: 0 0 0.1em, 0 0 0.1em;
}

/* Main Info Board CSS */
.TB_main_info {
  width: 100%;
  height: 100%;
}

.TB_main_info_header {
  display: flex;
  justify-content: space-between;
  padding-top: 6%;
  color: #b4acac;
  font-size: 15px;
  text-shadow: 0 0 0.1em, 0 0 0.1em;
}

.TB_main_info_header_title {
  padding-left: 3%;
}

.TB_main_info_header_more {
  padding-right: 3%;
  cursor: pointer;
}

.TB_main_info_header_more:hover {
  text-shadow: 0 0 0.3em, 0 0 0.9em;
}

.TB_main_info_content {
  padding-top: 14%;
  color: #b4acac;
  font-size: 15px;
  text-shadow: 0 0 0.1em, 0 0 0.1em;
}

/* Main Guest Book CSS */
.TB_main_guestBook {
  width: 100%;
  height: 100%;
}

.TB_main_guestBook_header {
  display: flex;
  justify-content: space-between;
  padding-top: 6%;
  color: #b4acac;
  font-size: 15px;
  text-shadow: 0 0 0.1em, 0 0 0.1em;
}

.TB_main_guestBook_header_title {
  padding-left: 3%;
}

.TB_main_guestBook_header_more {
  padding-right: 3%;
  cursor: pointer;
}

.TB_main_guestBook_header_more:hover {
  text-shadow: 0 0 0.3em, 0 0 0.9em;
}

.TB_main_guestBook_content {
  padding-top: 14%;
  color: #b4acac;
  font-size: 12px;
  text-shadow: 0 0 0.1em, 0 0 0.1em;
}

.TB_main_guestBook_content_item {
  margin-top: 4%;
  display: flex;
  justify-content: space-around;
  color: #b4acac;
  font-size: 12px;
  text-shadow: 0 0 0.1em, 0 0 0.1em;
}

.main_guestBook_content_dat {
  margin-top: 4%;
  color: #b4acac;
  font-size: 12px;
  text-shadow: 0 0 0.1em, 0 0 0.1em;
}

/* Developer List CSS */
.TB_developer {
  width: 100%;
  height: 100%;
}

.TB_developer_main {
  width: 70%;
  height: 70%;
  background-color: #818181;
  background: rgba(98, 105, 99, 0.527);
  margin-left: 15%;
  margin-top: 5%;
}

.TB_developer_header {
  padding-top: 4%;
  padding-left: 4%;
  color: #b4acac;
  font-size: 25px;
  text-shadow: 0 0 0.3em, 0 0 0.9em;
}

.TB_developer_table {
  margin-top: 5%;
  width: 100%;
  height: 70%;
  border-top: 1px solid #818181;
  border-collapse: collapse;
  color: #b4acac;
  text-shadow: 0 0 0.1em, 0 0 0.3em;
}

.TB_developer_table_tr,
.TB_developer_table_td {
  border-bottom: 1px solid #818181;
  padding: 0.7%;
  padding-left: 4%;
}

/* Pagination CSS */
.TB_pagination {
  width: 100%;
}

.TB_paging {
  display: flex;
  text-align: center;
  padding-top: 2.5%;
  padding-left: 32%;
}
.TB_paging_button {
  width: 7%;
  height: 10%;
}

.disabled {
  pointer-events: none;
}

.TB_paging_button img {
  width: 50%;
  height: 50%;
}

.TB_paging_button_number {
  padding-top: 0.4%;
  width: 11%;
  align-items: center;
}

.TB_paging_button_number a {
  color: #b4acac;
  text-shadow: 0 0 0.1em, 0 0 0.3em;
  text-decoration: none;
  padding-left: 9%;
}

.on {
  pointer-events: none;
  text-shadow: 0 0 0.3em, 0 0 0.9em;
}

.TB_paging_button_number a:hover {
  text-shadow: 0 0 1.9em, 0 0 2.4em;
}
