.TB_chess_board_main {
    width: 100%;
    height: 100%;
    display: flex;
}

.navi {
    padding-top: 20%;
    font-size: 25px;
}
.TB_chess_board {
    width: 80%;
    height: 100%;
    margin-top: 2%;
}

.TB_chess_board div {
    display: flex;
    justify-content: space-around;
    height: 11%;
    width: 90%;
}

.TB_chess_board div div {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.active {
    background-color: yellow;
}

.moving {
    background-color: blue;
}

.chess_img {
    margin-top: 10%;
    width: 50%;
    height: 50%;
}
