/* Web Rtc CSS */

.TB_webRtc {
    width: 95%;
    height: 95%;
    border: solid;
    border-color: #818181;
    border-width: 1px;
}

.TB_webRtc_videos {
    width: 100%;
    display: flex;
}

.TB_webRtc hr {
    background-color: #818181;
}

.TB_webRtc_video {
    width: 40%;
    height: 40%;
}

.TB_webRtc_header {
    color: #b4acac;
    font-size: 30px;
    text-shadow: 0 0 0.1em, 0 0 0.1em;
}

.TB_webRtc_video_span {
    color: #b4acac;
    text-shadow: 0 0 0.1em, 0 0 0.1em;
}

/* Img Game CSS */
.TB_imgGame {
    width: 95%;
    height: 95%;
    border: solid;
    border-color: #818181;
    border-width: 1px;
}

.TB_imgGame_header {
    width: 100%;
    height: 10%;
    border-bottom: solid;
    border-color: #818181;
    border-width: 1px;
    text-align: center;
}

.TB_imgGame_header_title {
    color: #b4acac;
    font-size: 24px;
    text-shadow: 0 0 0.1em, 0 0 0.1em;
    padding-top: 1%;
}

.TB_imgGame_content {
    width: 100%;
    height: 90%;
}

.TB_imgGame_content_header {
    padding-top: 1.5%;
    text-align: center;
    font-size: 20px;
    color: #b4acac;
    text-shadow: 0 0 0.1em, 0 0 0.1em;
}

.TB_imgGame_content_button {
    text-align: center;
    width: 80%;
    height: 100%;
    padding-left: 10%;
}

.TB_imgGame_content_button button {
    width: 45%;
    height: 100px;
    margin-top: 20%;
    background-color: #797171;
    border: none;
    color: #b4acac;
    font-size: 19px;
    text-shadow: 0 0 0.3em, 0 0 0.9em;
}

.TB_Customize {
    width: 95%;
    height: 95%;
    border: solid;
    border-color: #818181;
    border-width: 1px;
    padding-top: 2%;
    padding-left: 2%;
}

.TB_Customize_header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    color: #b4acac;
    font-size: 19px;
    text-shadow: 0 0 0.3em, 0 0 0.9em;
}

.TB_Customize_header_title {
    align-items: flex-end;
    padding-right: 3%;
}

.TB_Customize_option {
    padding-top: 2%;
}

.TB_Customize_option_title {
    padding-top: 5%;
    color: #b4acac;
    font-size: 15px;
    text-shadow: 0 0 0.3em, 0 0 0.9em;
    display: flex;
}

.TB_Customize_option_title select {
    margin-left: 9.4%;
    width: 20.5%;
}

.TB_Customize_option_time {
    padding-top: 3%;
    color: #b4acac;
    font-size: 15px;
    text-shadow: 0 0 0.3em, 0 0 0.9em;
    display: flex;
}

.TB_Customize_option_time input {
    margin-left: 5%;
    width: 25%;
    height: 25px;
    background: no-repeat 95% 50%;
    border: 1px solid #b4acac;
    color: #b4acac;
    text-shadow: 0 0 0.3em, 0 0 0.9em;
}
.TB_Customize_option_time div {
    padding-top: 1%;
}

.TB_Customize_option_checked {
    padding-top: 3%;
    color: #b4acac;
    font-size: 15px;
    text-shadow: 0 0 0.3em, 0 0 0.9em;
    display: flex;
}

.TB_Customize_footer {
    padding-top: 6%;
    padding-left: 24%;
}

.TB_Customize_footer button {
    background-color: #797171;
    border: none;
    color: #b4acac;
    font-size: 19px;
    text-shadow: 0 0 0.3em, 0 0 0.9em;
}
.TB_Customize_footer button:hover {
    text-shadow: 0 0 3.3em, 0 0 9.9em;
}

.TB_Customize_option_title select {
    width: 200px; /* 원하는 너비설정 */
    padding: 0.3em 0.5em; /* 여백으로 높이 설정 */
    font-family: inherit; /* 폰트 상속 */
    background: no-repeat 95% 50%;
    border: 1px solid #999;
    border-radius: 0px; /* iOS 둥근모서리 제거 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    color: #b4acac;
    text-shadow: 0 0 0.3em, 0 0 0.9em;
}

.TB_Customize_option_title option {
    background-color: black;
    color: #b4acac;
    font-size: 15px;
    text-shadow: 0 0 0.3em, 0 0 0.9em;
}

.TB_Customize_option_checked img {
    width: 7%;
    height: 7%;
    padding-left: 2%;
}
.TB_Customize_option_checked div {
    padding-top: 2%;
}

.TB_Customize_loading {
    text-align: center;
    padding-top: 20%;
    font-size: 40px;
    color: #b4acac;
    text-shadow: 0 0 0.3em, 0 0 0.9em;
}

.TB_Customize_img {
    width: 70%;
    height: 100%;
}

.TB_Customize_game {
    width: 100%;
    height: 100%;
}

.TB_Customize_content {
    width: 100%;
    height: 70%;
}

.TB_Customize_img_font {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 15px;
    color: #b4acac;
    text-shadow: 0 0 0.3em, 0 0 0.9em;
}

.TB_Customize_bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
    width: 100%;
    height: 10%;
}

.TB_Customize_bottom button {
    width: 48%;
    height: 100%;
    background-color: #797171;
    border: none;
    color: #b4acac;
    font-size: 19px;
    text-shadow: 0 0 0.3em, 0 0 0.9em;
}

.TB_Customize_bottom button:hover {
    text-shadow: 0 0 3.3em, 0 0 9.9em;
}

.TB_Customize_end {
    text-align: center;
    padding-top: 20%;
    color: #b4acac;
    text-shadow: 0 0 0.3em, 0 0 0.9em;
}

.TB_Customize_end_title {
    font-size: 40px;
}

.TB_Customize_end_result {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
}

.TB_Customize_end button {
    background-color: #797171;
    border: none;
    color: #b4acac;
    font-size: 19px;
    text-shadow: 0 0 0.3em, 0 0 0.9em;
}

.TB_Customize_end button:hover {
    text-shadow: 0 0 3.3em, 0 0 9.9em;
}

.TB_Customize_end_result_right {
    padding-right: 13%;
}
.TB_Customize_end_result_left {
    padding-left: 13%;
}
